In [12]:
%run -i 'scraping_data.py'

https://www.pablo-ruiz-picasso.net/topviews.php
https://www.pablo-ruiz-picasso.net/topshared.php
https://www.pablo-ruiz-picasso.net/topexpensive.php
start downloading....

In [13]:
# pd.read_csv('../data/henri_dic.csv')

                           Unnamed: 0                                     0
0         paintings-thmbnls150-bb.jpg              ('Standing Model', 1901)
1         paintings-thmbnls150-ar.jpg               ('Self Portrait', 1900)
2         paintings-thmbnls150-ba.jpg                  ('Male Model', 1900)
3        paintings-orient_99_thmb.jpg             ('Vase with Fruit', 1901)
4    paintings-thmbnls150-glimpse.jpg       ('Glimpse of Notre Dame', 1902)
..                                ...                                   ...
149       paintings-thmbnls150-gn.jpg  ('Woman on a Dark Background', 1942)
150       paintings-thmbnls150-gm.jpg               ('The Dark Door', 1942)
151       paintings-thmbnls150-fz.jpg          ('Young Girl in Rose', 1942)
152           paintings-select-gp.jpg    ('A Study for The Armchair', 1942)
153       paintings-thmbnls150-dh.jpg             ('Sunlit Interior', 1942)

[154 rows x 2 columns]